@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face{
    font-family: miama;
    src: url("../font/miama.regular.ttf");
}

*{
    margin: 0px;
    padding: 0px;
}

/* Common Styles Here */

body{
    width: 100%;
    font-family: Inter;
    background-color: black;
}


/* Navbar styles */
header,main,body{
    width: 90%;
    margin: 2rem auto;
}

.logo{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size:3rem;
    text-align: left;    
}
.menu-bar {
    color: #FFFFFF;
    display: none;
 
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 25px;
}
.nav-menu ul{
    list-style: none;
    display: flex;
    gap: 3rem;

}
.nav-menu ul li a{
    text-decoration: none;
    color: #FFFFFF;
    
}
#home{
    background: rgb(230, 83, 60);
    padding: 10px 20px;
    border-radius: 25px;
    margin-left: -18px;
}

/* Responsive Code */

@media screen and (max-width:576px){
    /* Navbar responsive */
    .nav-menu{
        display: none;
    }
    .menu-bar{
        display: block;
    }
    .menu-bar i{
        font-size: 2rem;
    }
    
    /*  */


}